<!DOCTYPE html>
<html lang="id">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SMARTDELAPAN — Keluarga</title>
<link href="static/img/logo/2.png" rel="icon">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/keluarga.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

<header>
  <div class="nav-container">
    <div class="logo">Smartdelapan</div>
    <nav>
      <div class="hamburger" onclick="toggleMenu()">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <ul id="navMenu">
         <li><a href="/main"><i class="fas fa-home"></i> Beranda</a></li>
        <li><a href="/main#layanan"><i class="fas fa-tools"></i> Layanan Utama</a></li>
        <li>
          <a href="/main#laporan"><i class="fas fa-file-invoice-dollar"></i> Laporan Keuangan ▾</a>
          <ul>
            <li><a href="/main#pemasukan">Pemasukan</a></li>
            <li><a href="/main#pengeluaran">Pengeluaran</a></li>
          </ul>
        </li>
         <li><a href="/main#informasi"><i class="fas fa-info-circle"></i> Informasi</a></li>
        <li><a href="/main#tutorial"><i class="fas fa-book"></i> Tutorial</a></li>
        <li><a href="/logoutuser" ><i class="fas fa-sign-out-alt"></i> Keluar</a></li>
      </ul>
    </nav>
  </div>
</header>
<main>
    <section id="input-keluarga" class="form-section">
        <div class="card form-container">
            <h1>Formulir Data Keluarga</h1>
            <form id="family-form" action="{{ url_for('input_data') }}" method="POST">
                <div class="form-group">
                    <label for="nama_keluarga">Nama Keluarga:</label>
                    <input type="text" id="nama_keluarga" name="nama_keluarga" placeholder="*contoh : Keluarga Sitompul" style="text-transform: uppercase;" required>
                    <small class="note">*Catatan: Nama Keluarga harus sama untuk setiap anggota keluarga</small>
                </div>
                <div id="error-message" style="display: none; color: red;"></div>

                <div class="form-group">
                    <label for="nama">Nama Lengkap:</label>
                    <input type="text" id="nama" name="nama" placeholder="*contoh : Joko Widodo" required>
                </div>
                <div class="form-group">
                    <label for="tempat_lahir">Tempat Lahir:</label>
                    <input type="text" id="tempat_lahir" name="tempat_lahir" placeholder="*contoh : Bogor" required>
                </div>
                <div class="form-group">
                    <label for="tanggal_lahir">Tanggal Lahir:</label>
                    <input type="date" id="tanggal_lahir" name="tanggal_lahir" onclick="this.showPicker();" onkeydown="return false;" required>
                </div>
                <div class="form-group">
                    <label for="nomor_keluarga">Nomor yang dapat dihubungi:</label>
                    <input type="text" id="nomor_keluarga" name="nomor_keluarga" pattern="\d*" placeholder="*contoh : 0899992999" required>
                </div>
                <div class="form-group">
                    <label for="hubungan_keluarga">Hubungan Keluarga:</label>
                    <select id="hubungan_keluarga" name="hubungan_keluarga" required>
                        <option value="" disabled selected>Pilih Hubungan</option>
                        <option value="Kepala Keluarga">Kepala Keluarga</option>
                        <option value="Istri">Istri</option>
                        <option value="Anak">Anak</option>
                    </select>
                </div>    
                <button type="submit" class="submit-btn"><i class="fas fa-paper-plane"></i> Kirim Data</button>
            </form>
        </div>
    </section>

</main>
<footer>
  <p>© <span id="year"></span> Smartdelapan | all right reserved</a>.</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{ url_for('static', filename='js/keluargav2.js') }}"></script>
<script src="https://kit.fontawesome.com/your-own-kit.js" crossorigin="anonymous" async></script>
</body>
</html>